@import 'node_modules/@angular/material/theming';
@import 'node_modules/jax-theme/theme';

$jax-typography: mat-typography-config(
  $font-family: 'DIN Next W01, DDIN, sans-serif',
);

@include mat-core($jax-typography);

$jax-light-primary: mat-palette($jax-gray, 700, 500, 900);
$jax-light-accent: mat-palette($jax-teal, 700, 500, 900);
$jax-light-warn: mat-palette($jax-dark-blue);

$jax-light-theme: mat-light-theme($jax-light-primary, $jax-light-accent, $jax-light-warn);

@include angular-material-theme($jax-light-theme);

body {
  background-color:white;
  color:#222;
  font-family: "DIN Next W01", "DDIN", sans-serif;
}

/* Vertical offset to fix DIN Next W01 bounding box issue */
/* Set this to 0 when using other fonts */

$font-y-offset: 0.11em !default;

.mat-button-wrapper,
.mat-checkbox-label,
.mat-radio-label-content,
.mat-form-field-infix > input {
  position:relative;
  top:$font-y-offset;
}

.mat-form-field-label-wrapper {
  top:calc(-0.84375em + #{$font-y-offset});
}

/* Solid background for text inputs, autocompletes, and selects */

.mat-form-field-type-mat-input .mat-form-field-infix,
.mat-form-field-type-mat-select .mat-form-field-infix {
  background-clip:padding-box;
  background-color:mat-color($jax-light-primary, 50);
  padding-left:7px;
  padding-right:7px;
}

.mat-form-field-type-mat-input .mat-form-field-label-wrapper,
.mat-form-field-type-mat-select .mat-form-field-label-wrapper {
  left:7px;
}

/* JAX-style dropdown menu */

.mat-button.mat-menu-trigger {
	font-size:1em;
}

.mat-button.mat-menu-trigger:after {
	font-family: 'Material Icons';
	content: '\e5cf';
	font-size:1.4em;
	position:relative;
	left:0.1em;
	top:0.35em;
}


