@import 'node_modules/@angular/material/theming';
@import 'node_modules/jax-theme/theme';

$jax-typography: mat-typography-config(
  $font-family: 'DIN Next W01, DDIN, sans-serif',
);

@include mat-core($jax-typography);

$jax-light-primary: mat-palette($jax-gray, 700, 500, 900);
$jax-light-accent: mat-palette($jax-teal, 700, 500, 900);
$jax-light-warn: mat-palette($jax-dark-blue);

$jax-light-theme: mat-light-theme($jax-light-primary, $jax-light-accent, $jax-light-warn);

@include angular-material-theme($jax-light-theme);

.mat-form-field-type-mat-input .mat-form-field-infix {
  background-clip:padding-box;
  background-color:mat-color($jax-light-primary, 100);
  padding-left:7px;
  padding-right:7px;
}

.mat-form-field-type-mat-input .mat-form-field-label-wrapper {
  left:7px;
}

body {
  background-color:white;
  color:#222;
  font-family: "DIN Next W01", "DDIN", sans-serif;
}
